//
// Atom
// Quick modifiers & fixes
// Following the rules of Emmet CSS abbreviations
// Add new only if needed & necessary
// ==============================================

// Spacing
// ----------------------------------------------

.m0           { margin: 0;                   }
.mt0          { margin-top: 0;               }
.mb0          { margin-bottom: 0;            }
.mb10         { margin-bottom: 1rem;         } // 16px
.mb25         { margin-bottom: 2.5rem;       } // 40px
.ml0          { margin-left: 0;              }
.mr0          { margin-right: 0;             }

.p0           { padding: 0;                  }
.pt0          { padding-top: 0;              }
.pb0          { padding-bottom: 0;           }
.pl0          { padding-left: 0;             }
.pr0          { padding-right: 0;            }

// Positioning
// ----------------------------------------------

.pos-a        { position: absolute;          }
.pos-r        { position: relative;          }
.pos-f        { position: fixed;             }

.fl-l         { float: left;                 }
.fl-r         { float: right;                }

.va-t         { vertical-align: top;         }
.va-m         { vertical-align: middle;      }
.va-b         { vertical-align: bottom;      }
.va-bl        { vertical-align: baseline;    }

.t0           { top: 0;                      }
.t-a          { top: auto;                   }
.b0           { top: 0;                      }
.b-a          { top: auto;                   }
.l0           { top: 0;                      }
.l-a          { top: auto;                   }
.r0           { top: 0;                      }
.r-a          { top: auto;                   }

// Displaying
// ----------------------------------------------

.hide         { display: none;               }
.d-b          { display: block;              }
.d-ib         { display: inline-block;       }
.d-tbl        { display: table;              }
.d-tbc        { display: table-cell;         }

.d-f          { display: flex;               }
.d-g          { display: grid;               }

// Overflow
// ----------------------------------------------

.ov-h         { overflow: hidden;            }
.ov-v         { overflow: visible;           }
.ov-s         { overflow: scroll;            }
.ov-a         { overflow: auto;              }

.ovx-h        { overflow: hidden;            }
.ovx-v        { overflow: visible;           }
.ovx-s        { overflow: scroll;            }
.ovx-a        { overflow: auto;              }

.ovy-h        { overflow: hidden;            }
.ovy-v        { overflow: visible;           }
.ovy-s        { overflow: scroll;            }
.ovy-a        { overflow: auto;              }

// Text
// ----------------------------------------------

.fz1          { font-size: 1rem;             } // 16px

.fw100        { font-weight: 100;            } // Extra light
.fw200        { font-weight: 200;            } // Light/Thin
.fw300        { font-weight: 300;            } // Book/Demi
.fw400        { font-weight: 400;            } // Normal/Regular
.fw500        { font-weight: 500;            } // Medium
.fw600        { font-weight: 600;            } // Semi/Demi Bold
.fw700        { font-weight: 700;            } // Bold
.fw800        { font-weight: 800;            } // Extra Bold, Black
.fw900        { font-weight: 900;            } // Extra Black, Fat

.ff-ss        { font-family: sans-serif;     }
.ff-s         { font-family: serif;          }
.ff-m         { font-family: monospace;      }

.fs-n         { font-style: normal;          }
.fs-i         { font-style: italic;          }
.fs-o         { font-style: oblique;         }

.fv-n         { font-variant: normal;        }
.fv-sc        { font-variant: small-caps;    }

.lh1          { line-height: 1;              }

.h1           { @extend %h1;                 }
.h2           { @extend %h2;                 }
.h3           { @extend %h3;                 }
.h4           { @extend %h4;                 }

.ta-c         { text-align: center;          }
.ta-l         { text-align: left;            }
.ta-r         { text-align: right;           }
.ta-j         { text-align: justify;         }

.td-n         { text-decoration: none;       }
.td-u         { text-decoration: underline;  }

.tt-n         { text-transform: none;        }
.tt-u         { text-transform: uppercase;   }
.tt-l         { text-transform: lowercase;   }
.tt-c         { text-transform: capitalize;  }

// Colors
// ----------------------------------------------

.cl-title     { color: $cl-text-title;       }
.cl-body      { color: $cl-text-body;        }
.cl-minor     { color: $cl-text-minor;       }
.cl-muted     { color: $cl-text-muted        }
.cl-ghost     { color: $cl-text-ghost;       }

// Sizing
// ----------------------------------------------

.w0           { width: 0;                    }
.w-a          { width: auto;                 }
.miw-a        { min-width: auto;             }
.maw-a        { max-width: auto;             }
.w50p         { width: 50%;                  }
.w100p        { width: 100%;                 }
.w100vw       { width: 100vw;                }

.h0           { height: 0;                   }
.h-a          { height: auto;                }
.mih-a        { min-height: auto;            }
.mah-a        { max-height: auto;            }
.h50p         { height: 50%;                 }
.h100p        { height: 100%;                }
.h100vh       { height: 100vh;               }

// Borders
// ----------------------------------------------

.bdw0         { border-width: 0;             }
.bdrs0        { border-radius: 0;            }

// Cursor
// ----------------------------------------------

.cur-a        { cursor: auto;                }
.cur-d        { cursor: default;             }
.cur-c        { cursor: crosshair;           }
.cur-ha       { cursor: hand;                }
.cur-he       { cursor: help;                }
.cur-m        { cursor: move;                }
.cur-p        { cursor: pointer;             }
.cur-t        { cursor: text;                }