//- Header

a(href= "/" + lan + "/" +"index.html").header-logo
  img(
    src=""
    alt=""
    width=""
    height="")

p.lan-swtich
  a.lan-swtich-link(href= "/" + nav.cgLan.url + "/" +"index.html")
    Home English / 中文

include ../mod/nav.pug